body {
    background-image: url(Assets/Images/background-port.jpg);
    font-size: 1.5vw;
}

header .flex-container {
    display: flex;
    justify-content: space-between;
    margin-right: 60px;
    margin-left: 40px;
}
header {
    text-align: space-between;
    padding-top: 0px;
    color: hsl(206, 17%, 28%);
  }

nav {
    width: 100%;
    margin-bottom: 40px;
    color: #446E9B;
  }

main .flex-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    border: 7px solid #446E9B;
    margin-left: 10%;
    margin-right: 10%;
    margin-bottom: 0;
    padding: 5%;
    text-align: center;
    background-color: white;
    max-height: 800px;
}


button {
    padding: 10px;
    margin: 1.5%;
    font-size: 100%;
    
  
}

.answerBtns {
    align-content: center;
    text-align: center;
}

p {
    font-size: 100%;
}

#p3, #p2 {
    font-weight: bold;
}
.hide {
    display: none;
}


.show {
    display: block;
}

.hsText {
    text-align: center;
}

ul .flex-container {
    margin: 5px;
}

ul li {
    text-align: center;
    list-style-position: center;
    font-size: 2vw;
    list-style-type: none;
    color: black;
    text-decoration: underline;
 
}

footer {
    margin-top: 20px;
    padding-top: 100px;
    padding-bottom: 0;
    margin-bottom: 0;
}

.footerIcons {
    font-size: 40px;
}


